<div class="box-1">

  <h1>Direktiven</h1>

  <div class="box-2">
    <h2>ElementRef und Renderer2 (Manipulation von DOM Eigenschaften)</h2>
    <div chBorder="2">
      Ich habe einen festen Rahmen von einer Direktive gesetzt bekommen.
    </div>
    <br>
    <div [chBorder]="borderWidth">
      Ich habe einen dynamischen Rahmen von einer Direktive gesetzt bekommen (Breite: {{borderWidth}}).
    </div>
    <button (click)="borderWidth = borderWidth + 1">Rahmen verbreitern</button>
    <br>
  </div>

  <div class="box-2">
    <h2>HostBinding und HostListener (Auslesen/Verändern von Host-Eigenschaften/Events)</h2>

    <div>
      <h3>LowerCaseDirective</h3>
      <label>Wird in kleine Buchstaben verwandelt:</label>
      <input type="text" chLowerCase>
    </div>
  </div>

  <div class="box-2">
    <h2>Wrapper Direktiven (JQuery Slider)</h2>
    <aside>Mit Direktiven können externe Bibliotheken, welche keine Angular Integration haben gewrappt werden.
      Damit kann die Direktive als Wrapper für die Bibliothek in Angular verwendet werden. So kann z.B. das
      two-way-property Binding mit dem Jquery Slider kombiniert werden.
    </aside>
    <div chSlider [(value)]="sliderValue"></div>
    <input type="number" [(ngModel)]="sliderValue">
    <p>Der aktuelle Wert des Sliders ist: {{sliderValue}}</p>
  </div>
</div>