<div class="w-50 box-1">
    <h1>Reactive Forms</h1>
    <aside>Mit Reactive Forms können Forms über Typescript aufgebaut werden (statt über HTML). Das ermöglicht es, sehr
        dynamische Forms zu kreieren.</aside>

    <form novalidate [formGroup]="taskForm" (ngSubmit)="saveTask(taskForm.value)">
        <div class="form-group">
            <label>Titel</label>
            <input class="form-control" formControlName="title">
        </div>

        <label>Tags</label>
        <div formArrayName="tags">
            <div *ngFor="let tag of tagsArray.controls; let i = index">
                <div class="tag-controls" formGroupName="{{i}}">
                    <input type="text" class="form-control" formControlName="label">
                    <button class="btn btn-danger" (click)="removeTag(i)">Tag entfernen</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" (click)="addTag()"> + </button>
        </div>
        <h4>Zuständiger</h4>
        <div formGroupName="assignee">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label>E-Mail</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!taskForm.valid">Speichern</button>
        <button (click)="loadTask(1)" class="btn btn-default">
            Task 1 laden
        </button>
        <button (click)="loadTask(2)" class="btn btn-default">
            Task 2 laden
        </button>
    </form>
</div>