<div class="box-2">
    <h3>switchMap</h3>

    <p>Paraphrase: switch to a new observable</p>

    <h5>Erklärung</h5>

    <p>switchMap wird in einer Pipe eines bereits vorhandenen Observables (parent observable) eingesetzt. Es
        erhält als Parameter wieder ein Observable (inner observable). Immer dann, wenn das parent emittet, wird zum
        inner observable geswitcht. Dabei wird das vorherige inner observable abgebrochen.
    </p>

    <p>
        Wenn man hier auf das Dokument klickt (parent observable), wird zum interval observable gewechselt (inner),
        welches jede Sekunde eine inkrementierte Zahl emittet. Klickt man nochmal, wird die inner observable vom
        vorherigen Klick abgebrochen und neu gestartet (=> der Counter startet neu).
    </p>

    <h5>Beispiel</h5>
    <p>
        <i>Irgendwo klicken, um den Counter zu resetten:</i> {{testingSwitchMap}}
    </p>

    <h5>Anwendungsbeispiel</h5>

    <p>Typeahead Suchen, denn hier interessiert man sich nur für den aktuellsten Wert (z.B. wenn bei jedem
        Tastendruck die Suche gestartet wird). Das vorherige Ergebnis wird verworfen.</p>
</div>

<div class="box-2">
    <h3>scan</h3>

    <p>Paraphrase: Nehme vorheriges Ergebnis und berechne neues Ergebnis anhand des aktuellen Werts.</p>

    <h5>Erklärung</h5>

    <p>scan überträgt das vorherige scan Ergebnis und den aktuellen emit value. Zu Beginn wird ein Default Wert für den
        scan value festegelegt (Seed).</p>


    <h5>Beispiel 1</h5>

    <p>Vorheriger Wert wird mit aktuellem addiert. Entspricht der Berechnung einer Reihe (Zahlensumme).</p>
    <div [innerHTML]="testingScan1"></div>

    <h5>Beispiel 2</h5>

    <p>Scan gibt ein Array zurück. Der aktuelle emit value wird dem Array hinzugefügt. Seed ist ein leeres Array.</p>
    {{testingScan2}}

</div>

<div class="box-2">
    <h3>combineLatest</h3>

    <p>Paraphrase: Kombiniere das Ergebnis mehrerer Observables</p>

    <h5>Erklärung</h5>
    Kombiniert das neuste Ergebnis mehrerer Observables. Wartet zu Beginn, bis <b>alle</b> Observables mindestens einen
    Wert emittet haben. Mit startWith kann dies Umgang werden, in dem die Observables zu Beginn einen Startwert emitten
    (siehe Code).

    <h5>Beispiel</h5>

    <div>
        <button #red>Red</button>
        <button #black>Black</button>

        <div>Red: {{redTotal}}</div>
        <div>Black: {{blackTotal}}</div>
        <div>Total: {{total}}</div>
    </div>
</div>