ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  background-color: #303f9f;
  padding: 0.5rem 1rem;
  color: white;
  width: 100%;
}

li.active {
  font-weight: bold;
}
