<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="rxjs">RxJS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-encapsulation">ViewEncapsulation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="template-ref">TemplateRef</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-container-ref">ViewContainerRef & ComponentFactory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="embedded-view">Embedded View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="change-detection">Change Detection [Performance Boost]</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>