<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="rxjs" routerLinkActive="active">RxJS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-encapsulation" routerLinkActive="active">ViewEncapsulation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="template-ref" routerLinkActive="active">TemplateRef</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="view-container-ref" routerLinkActive="active">ViewContainerRef &
                    ComponentFactory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="embedded-view" routerLinkActive="active">Embedded View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="change-detection" routerLinkActive="active">Change Detection
                    [Performance Boost]</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>