<div class="box-1">
  <h1>Input/Output - Part 1</h1>
  <div class="box-2">
    <h2>Input/Output Binding</h2>
    Inner Variable (from outside): {{ innerVarFromOutside }}
    <app-io1-inner
      [passedVar]="innerVarFromOutside"
      (changeEvent)="innerComponentChanged($event)"
    ></app-io1-inner>
  </div>

  <div class="box-2">
    <h2>Input/Output Binding (Syntax Sugar)</h2>
    Inner Variable (from outside): {{ innerVarFromOutside }}
    <app-io1-inner [(passedVar)]="innerVarFromOutside" #test></app-io1-inner>

    <h3>Bind with ngModel</h3>
    Inner var (from outside with ngModel): <br />
    <input type="text" [(ngModel)]="innerVarFromOutside" />

    <h3>Access Child API with local var</h3>
    <button (click)="test.reset()">reset</button>
  </div>
</div>
