label {
    min-width: 60px;
}

input {
    display: block;
    padding: 4px;
    width: 318px;
    margin-bottom: 6px;
}

.contact-entry{
    padding: 8px;
    width: 300px;
    border-radius: 2px;
    border: lightgrey solid 1px;
    cursor: pointer;
    margin-bottom: 5px;
}
