<title>Learning Angular</title>

<app-tabs>
    <app-tab title="One Way Property Binding">
        <app-oneway-prop></app-oneway-prop>
    </app-tab>
    <app-tab title="Event Bindings">
        <app-events> </app-events>
    </app-tab>
    <app-tab title="Two Way Property Binding">
        <app-twoway></app-twoway>
    </app-tab>
    <app-tab title="Misc">
        <app-localvar></app-localvar>
        <app-microsyntax></app-microsyntax>
    </app-tab>
    <app-tab title="Input Output Bindings">
        <app-io1></app-io1>
        <app-io2></app-io2>
    </app-tab>
    <app-tab title="Content Insertion">
        <app-contentinsertion></app-contentinsertion>
    </app-tab>
    <app-tab title="Directives">
        <app-directives></app-directives>
    </app-tab>
    <app-tab title="Advanced">
        <app-tabs>
            <app-tab title="ViewEncapsulation">
                <app-get-some-css></app-get-some-css>
            </app-tab>
            <app-tab title="TemplateRef">
                <app-template-ref-demo></app-template-ref-demo>
            </app-tab>
            <app-tab title="ViewContainerRef & ComponentFactory">
                <app-view-container-ref></app-view-container-ref>
            </app-tab>
            <app-tab title="Embedded View">
                <app-repeater-demo></app-repeater-demo>
            </app-tab>
            <app-tab title="Change Detection [Performance Boost]">
                <app-tabs>
                    <app-tab title="Nicht optimiert">
                        <app-change-detection-performance></app-change-detection-performance>
                    </app-tab>
                    <app-tab title="Optimiert">
                        <app-change-detection-performance-optimized></app-change-detection-performance-optimized>
                    </app-tab>
                </app-tabs>
            </app-tab>
        </app-tabs>
    </app-tab>
</app-tabs>