<title>Learning Angular</title>

<nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/property-binding" routerLinkActive="active">Property Binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/event-binding" routerLinkActive="active">Event Binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/input-output-binding" routerLinkActive="active">Input/Output
                    Binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/other" routerLinkActive="active">Other</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/content-insertion" routerLinkActive="active">Content Insertion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/directives" routerLinkActive="active">Directives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dependency-injection" routerLinkActive="active">Dependency
                    Injection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/routing" routerLinkActive="active">Routing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/advanced" routerLinkActive="active">Advanced</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    <router-outlet></router-outlet>
</div>

<hr>
<h3>Old Navbar:</h3>
<hr>

<app-tabs>
    <app-tab title="Advanced">
        <app-tabs>
            <app-tab title="Change Detection [Performance Boost]">
                <app-tabs>
                    <app-tab title="Nicht optimiert">
                        <app-change-detection-performance></app-change-detection-performance>
                    </app-tab>
                    <app-tab title="Optimiert">
                        <app-change-detection-performance-optimized></app-change-detection-performance-optimized>
                    </app-tab>
                </app-tabs>
            </app-tab>
        </app-tabs>
    </app-tab>
    <app-tab title="Standard Functions">
        <app-tabs>
            <app-tab title="Standard Directives">
                <app-standard-directives></app-standard-directives>
            </app-tab>
            <app-tab title="Pipes">
                <app-pipes></app-pipes>
            </app-tab>
        </app-tabs>
    </app-tab>
    <app-tab title="Forms">
        <app-tabs>
            <app-tab title="Template-driven">
                <app-first-form></app-first-form>
            </app-tab>
            <app-tab title="ReactiveForms">
                <app-reactive-form></app-reactive-form>
            </app-tab>
        </app-tabs>
    </app-tab>
</app-tabs>