<div class="box-1">
    <div class="box-2">
        <h2>Create embedded view several times</h2>
        <input type="number" [(ngModel)]="repeatCnt" placeholder="Enter a number...">

        <ng-template [chRepeater]="repeatCnt">
            <div>
                <i>Ich werde wiederholt!</i>
            </div>
        </ng-template>
    </div>

    <div class="box-2">
        <h2>Use microsyntax to do the same (Syntax Sugar)</h2>
        <input type="number" [(ngModel)]="repeatCnt" placeholder="Enter a number...">

        <div *chRepeater="repeatCnt">
            <i>Ich werde wiederholt!</i>
        </div>
    </div>
</div>