/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$primaryColor: #1f2421;
$secondaryColor: #216869;
$tertiaryColor: #49a078;
$quaternaryColor: #9cc5a1;
$quintaryColor: #dce1de;

.box-1 {
  border: 1px solid $primaryColor;
  margin: 5px;
  padding: 5px;
}

.box-2 {
  border: 1px solid $secondaryColor;
  margin: 5px;
  padding: 5px;
}