/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #313131;
  color: white;
}

.box-1 {
  margin: 5px;
  padding: 5px;
  background-color: #424242;
  border-radius: 15px;
}

.box-2 {
  margin: 5px;
  padding: 5px;
  background-color: #525252;
  border-radius: 15px;
}

.active {
  font-weight: bold;
}

.bg-blue {
  background-color: #303f9f;
}

.navbar a {
  color: white !important;
}
